@charset "utf-8";

#footer 
{
	background: #333333;
}

#footer p, h4
{
	color: #FFFFFF;
}

#footer #copyright
{
	text-align: center;
}

body
{
	background: #999999;
}

#main_layout
{
	background: #FFFFFF;
}

#header_logo
{
	background: #333333;
}

#nav_links ul li > a
{
	background: #333333;
}

#nav_links ul li > a:hover
{
	background: #444444;
}