@charset "utf-8";

#footer 
{
	background: #333333;
}

#footer p, #footer h4
{
	color: #FFFFFF;
}

#footer #copyright
{
	text-align: center;
}

body
{
	background: #999999;
}

#main_layout
{
	background: #FFFFFF;
}

#header_logo
{
	background: #333333;
}

#current_page
{
	background: #444444 !important;
}

#current_page:hover
{
	background: #555555 !important;
}

#nav_links ul li > a
{
	background: #333333;
}

#nav_links ul li > a:hover
{
	background: #444444;
}

.shadow_image
{
	border-style: solid;
	border-width: 4px;
	border-color: #333333;
	box-shadow: 0px 0px 5px #333333;
	-webkit-box-shadow: 0px 0px 5px #333333;
	-moz-box-shadow: 0px 0px 5px #333333;
	margin-bottom:1em;
}